

.shuffle-disc {
  font-family: 'Baloo Thambi', cursive;
  position: absolute;
  border-radius: 50%;
  background-image: url('../media/blackhole.jpg');
  background-size: contain;

  text-shadow: #fff 0px 0px 4px;

  text-align: center;
  font-size: 4.4em;
  line-height: 1.8em;

  width: 16%;
  height: 16%;
  top: calc(50% - (16% / 2));
  left: calc(50% - (16% / 2));

  transition: transform 1.5s ease-in;

  &.active {
    transform: scale(1.2, 1.2);
    transform-origin: 50% 50%;
    transition: transform 1.5s ease-out;
  }

  &.spin {
    animation: spin 1s linear 0s infinite normal;
  }
}

@keyframes spin {
  0% { transform: scale(2, 2) rotate(0deg); }
  100% { transform: scale(2, 2) rotate(360deg); }
}
